*~
*.o
mofc
.deps/
autom4te.cache/
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mofc.c
mofc.h
mofs.c
stamp-h1
ylwrap
